<launch>
  <include file="$(find swarming_turtles_bringup)/launch/detect_and_visualize.launch"/>
  <include file="$(find swarming_turtles_navigation)/launch/costmap.launch"/>

  <include file="$(find swarming_turtles_navigation)/launch/navigation.launch"/>
  <node name="lcm_relay" pkg="swarming_turtles_communicate" type="lcm_relay.py" output="screen"/>
  <node name="communication_node" pkg="swarming_turtles_communicate" type="communication_node.py" output="screen"/>
  
  <!-- <node name="smach_test" pkg="swarming_turtles_smach" type="smach_test.py" output="screen"/> -->

</launch>
