<launch>
  <include file="$(find swarming_turtles_bringup)/launch/detect_and_visualize.launch"/>
  <include file="$(find swarming_turtles_navigation)/launch/costmap.launch"/>
  
  <include file="$(find swarming_turtles_navigation)/launch/navigation.launch"/>
  <node name="smach_comm" pkg="swarming_turtles_communicate" type="lcm_relay.py" output="screen"/>
  <node name="communication_node" pkg="swarming_turtles_communicate" type="communication_node.py" output="screen"/>

  <node name="smach_hive" pkg="swarming_turtles_smach" type="smach_hive_frame.py" output="screen"/>

</launch>
